@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

html {margin-bottom: 20px; margin-left: 200px; margin-right: 200px;}

/* Use the 'Lato' font family at 18px throughout the body of the document, and cover the background with the './img/map-bg.jpg' image. */
body {font-family: Lato; font-size: 18px;
        background-image: url(./img/map-bg.jpg) }

h1 {font-family: Supermercado One; text-align: left;  color: #5d4037; font-size: 45px; width: 900px;}
/* Use the 'Supermercado One' font at 45px (colored #5d4037) for the restaurant name. */


/* Set the separator between the columns (the "column-rule") to be 2px dashed rosybrown. */
#menu {column-rule: 2px dashed rosybrown; columns: 400px 2; column-gap: 100px;}
section {margin-bottom: 50px;}

/* Show each of the section headings of the menu (e.g. "Starters") in small caps, colored #6d4c41. */
h2 {font-variant: small-caps; color: #6d4c41; margin: 0;}

/* Make the name of each menu item appear in bold in a 20px size. */
#menu dt {font-weight: bold; font-size: 20px;}


dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}

/* Show the price of each item in a large font, in the color named 'firebrick' */
.price {font-size: 18px; color: firebrick; order: 2; padding-left: 10px;}

/* Draw a 2px dashed rosybrown border around the address/footer */
address {border-style: dashed; border-color: rosybrown; border-width: 2px; padding: 10px;}

#main {
        width: 900px; 
        margin: 10px auto;
    } 